/* ----------------------------------------
  General
*/
body {
  padding: 0px 0px;
  margin: 0px 0px;
  background: #036121;
}

h1 {
  color: #fcdd09;
  font-weight: bold;
  margin: 0 0 10px 0;
}

h2 {
  color: #fcdd09;
  font-weight: bold;
  margin: 0 0 7px 0;
}

h3 {
  color: #fcdd09;
  margin: 0 0 7px 0;
}

#main-container {
  padding: 12px 10px;
}

#main-container h3,div{
  text-align: left;
}

.common-text {
  color: white;
  font-size: 14px;
  margin: 0 0;
}

.common-button {
  color: white;
  background: #05571f;
  border: none;
  border-radius: 4px;
  padding: 6px 8px;
  margin: 0 0;
}

.common-button:hover {
  color: #fcdd09;
}

/* ----------------------------------------
  Grid

  Items grid:
  <div class="form-row">
    <div class="col-12 col-md-3 col-lg-3">
      <div class="item">
        <p>First item</p>
      </div>
    </div>
  </div>

  Form grid:
  <div class="form-row">
    <div class="col-12 col-md-3 col-lg-3">
      <div class="input-field">
        <input placeholder="Name"/>
      </div>
    </div>
  </div>
*/

.form-row {
  margin: -5px -5px;
}

.form-row > .col,
.form-row > [class*="col-"] {
  padding: 5px 5px;
}

.item {
  background: #fcdd09;
  border: none;
  border-radius: 4px;
  padding: 5px 5px;  
}

.item * {
  align-items: center;
}

.item-text {
  color: black;
  font-size: 14px;
  padding: 0 0;
  margin: 0 0;
}

.item-title {
  color: #078930;
  font-size: 16px;
  font-weight: bold;
  padding: 0 0;
  margin: 0 0;
}

input {
  width: 100%;
  border: 0px;
  border-radius: 4px;
  padding: 4px 4px;
  color: #078930;
}

.input-field {
  background: #fcdd09;
  color: #078930;
  border-radius: 6px;
  padding: 6px 6px;
}

/* ---------------------------------------- */